/* GLOBALS */
img{max-width:100%;}
html, body{
  min-height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.1em;
}
h1,h3{
  text-align: center;
}
a{
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #2f2f2f;
}
.list{
  display:block;
  clear:both;
  width: 90%;
  text-align: center;
  margin:12px auto 12px auto;
  border: dashed 2px #2f2f2f;
  padding: 12px;
}
li{
  list-style-type:none;
  text-align:center;
}
input{
  display: block;
}
input[type=text]{
  display: block;
  height: 45px;
  width:76%;
  font-size: 40px;
  line-height: 1.2;
  margin: 5px auto 5px auto;
  border: solid 4px #ff0000;
}
input.placeholder{ font-size: 40px;}
input[type=submit]{
  line-height: 60px;
  width:80%;
  max-width: 400px;
  background:#ff0000;
  color:#fff;
  font-size: 30px;
  border:none;
  margin: 50px auto 5px auto;
}

.btns input[type=file]{
  font-size: 24px;
  width:40%;
}
/* Static Header Items */
#header{
  background: url(/img/wall.png) top left no-repeat;
  background-size: cover;
  background-position: right top;
  padding: 12px 0px 22px 12px;
}
#jail-logo{
  width:25%;
}
#strap, footer{
  background: #2f2f2f;
  color: #fff;
}
#strap h3 {
  text-align: left;
  padding-left: 4%;
  font-weight: 100;
  font-size: 18px;
  margin: 0;
}
.injail{
  min-height: 600px;
}
.inmates, .cards{
  max-width: 400px;
}
.inmates{
  display: inline-block;
  border:solid 4px black;
  margin:10px 2px;
  background: #333;
  font-size: 0;
  position: relative;
}
.inmates a{
  display: inline-block;
  width:50%;
  margin:0;
  padding:0;
  vertical-align: top;
}
.cards{
  display: block;
  width:70%;
  border: solid 1px #000;
  background: #222;
  color:#eee;
  padding: 2px;
  box-shadow: 4px 3px 3px rgba(0,0,0,0.4);
  margin:-3em 0 0 40px;
  position: absolute;
  bottom:0;
}
.cards span{
  display: block;
  padding:2px 8px;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
}
.cards .updated{
  background-color: #333;
}
.login{
  width: 60%;
  padding-top: 100px;
  margin: auto;
}
footer{
  padding: 4px 4%;
  font-weight: 200;
  color: white;
}
footer a, #login-buttons .login-button, .accounts-dialog .login-button {
  color: white;
  background-color: #911;
  border-radius: 2px;
  display: inline-block;
  border:solid white 1px;
  line-height: 1.5;
  text-decoration: none;
  font-size: 80%;
  padding: 4px 8px;
}
footer a:hover, #login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
  text-decoration: none;
  background: red;
  color:white;
}
.upload{
  text-align: center;
}
.add .list.online {
  border: solid 2px #2f2f2f;
}

/* Responsive Stuff */
@media screen and (max-width: 568px) {

}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
  body:after{
    content:'';
    display:block;
    position: fixed;
    bottom:0;
    right:0;
    background: transparent url(/img/queenHalf.png) no-repeat;
    min-width: 288px;
    height:566px;
  }
}
