/* GLOBALS */
img{max-width:100%;}
html, body{
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.1em;
}
h1,h3{
  text-align: center;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #2f2f2f;
}
.list{
  display:block;
  clear:both;
  width: 90%;
  text-align: center;
  margin:12px auto 12px auto;
  border: dashed 2px #2f2f2f;
  padding: 12px;
}
li{
  list-style-type:none;
  text-align:center;
}
input{
  display: block;
}
input[type=text]{
  font-size: 40px;
  width:76%;
  padding: 2%;
  margin: 5px auto 5px auto;
  border: solid 4px #ff0000;
}
input[type=submit]{
  line-height: 60px;
  width:80%;
  max-width: 400px;
  background:#ff0000;
  color:#fff;
  font-size: 30px;
  border:none;
  margin: 50px auto 5px auto;
}
input[type=file]{
  font-size: 25px;
  overflow: hidden;
  width:90%;
  padding: 2%;
  margin: 5px auto 5px auto; 
}
/* Static Header Items */
#header{
  background: url(/img/wall.png) top left no-repeat;
  background-size: cover;
  background-position: right top;
  padding: 12px 0px 22px 12px;
}
#jail-logo{
  width:25%;
}
#strap{
  background: #2f2f2f;
  color: #fff;
  padding: 6px;
}
.inmates{
  border: dashed 5px #2f2f2f;
  margin:20px;
}
.mugshots{
  width:49%;
  margin: 5px 0px 5px 0px;
}
.cards{
  display: inline-block;
  border: solid 1px #000;
  background: #fff;
  padding: 12px;
  box-shadow: 4px 3px 3px #888888;
  -ms-transform: rotate(-6deg); /* IE 9 */
  -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
  transform: rotate(-6deg);
  margin: -68px 48px 0px 0px;
  float: right;  
}

/* Responsive Stuff */
@media screen and (max-width: 568px) {

}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {

}